//Variables
$letters: #ffffff;
$mayate: #536758;
$text: #939393;
$back: #f9f9f9;
$dark: #2a2a2a;
$price: #2b2b2b;

.detail-header {
  width: 1440px;
  height: 96px;
  background-color: #f9f9f9;

  .navb {
    width: 1312px;
    height: 60px;
    background-color: #f9f9f9;
  }
}

.fix {
  background-color: $letters;
}
aside {
  width: 266px;
  height: 941px;
  background-color: $letters;
  margin-top: 48px;

  .colors{
    width: 212px;
    height: 71px;
    margin-bottom: 30px;
    margin-left: 20px;

    span{
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px;
    }
  }


  .price{
    width: 212px;
    height: 71px;
    margin-bottom: 30px;
    margin-left: 20px;

    span{
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.6px;
    }

    .rounded{
      margin-top: 20px;
    }

  }

  .category-top {
    width: 176px;
    height: 268px;
    margin-bottom: 50px;

    .check {
      margin-left: 20px;
      margin-top: 38px;
      width: 170px;
      height: 230px;

      span {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px;
        margin-bottom: 16px;
      }

      .mycheckbox {
        margin-bottom: 15px;

        span {
          margin-left: 15px;
          font-size: 14px;
          color: $text;
          letter-spacing: -0.1px;
          font-weight: 400;
        }
        input {
          .checkbox {
            border-radius: 0%;
            border-color: $text;
          }
        }
      }
    }
  }

  .category-center {
    width: 176px;
    height: 373px;
    margin-bottom: 70px;

    .check {
      margin-left: 20px;
      margin-top: 38px;
      width: 170px;
      height: 230px;

      span {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px;
        margin-bottom: 16px;
      }

      .mycheckbox {
        margin-bottom: 15px;

        span {
          margin-left: 15px;
          font-size: 14px;
          color: $text;
          letter-spacing: -0.1px;
          font-weight: 400;
        }
        input {
          .checkbox {
            border-radius: 0%;
            border-color: $text;
          }
        }
      }
    }
  }
}

.sort {
  width: 976px;
  height: 18px;
  background-color: transparent;
  margin-top: 48px;

  .sort-left {
    width: 173.18px;
    height: 18px;
    font-size: 14px;

    spam {
      font-weight: 400;
    }

    label {
      color: $mayate;
    }
  }

  .sort-right {
    width: 46px;
    height: 14px;
  }
}

.target-big {
  margin-top: 32px;
  width: 976px;
  height: 1285px;
  background-color: $letters;
}

.index {
  margin-top: 32px;
  width: 976px;
  height: 56px;
  background-color: $letters;
  margin-bottom: 80px;

  .index-a {
    width: 358px;
    height: 36px;
  }
}

.footer {
  width: 1440px;
  height: 125px;
  background-color: #f9f9f9;

  .footer-container {
    width: 1312px;
    height: 29px;
    background-color: transparent;

    .footer-left {
      width: 612px;
      height: 29px;
      background-color: transparent;

      span {
        color: $price;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.5px;
        opacity: 70%;
      }
    }

    .footer-rigth {
      width: 98px;
      height: 26px;
      background-color: transparent;

      .box {
        width: 25px;
        height: 25px;
      }
    }
  }
}

//Style main

.target-container {
  width: 976px;
  height: 407px;

  .card-one {
    width: 304px;
    height: 407px;
    background-color: antiquewhite;

    .card-top {
      .sale {
        width: 65px;
        height: 42px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        color: $letters;
        margin-left: 239px;
        background-color: $mayate;
      }
    }

    .icons-container {
      width: 304px;
      height: 87px;
      background-color: $letters;

      .icons-top {
        width: 304px;
        height: 44px;
        background-color: $letters;

        .top {
          margin-top: 13px;

          a{
            &:hover{
              background-color:darkseagreen;
            }
          }

          .title {
            height: 18px;
            font-size: 14px;
            letter-spacing: 1.5px;
            font-weight: 400;
            color: $mayate;
          }
        }
      }

      .icons-buttom {
        width: 304px;
        height: 43px;

        .icons-price {
          width: 185px;
          height: 43px;

          .label {
            font-size: 16px;
            font-weight: 400;
            color: $price;
          }
        }

        .heart {
          width: 60px;
          height: 43px;
          img {
            width: 24px;
            height: 24px;
          }
        }

        .car {
          width: 60px;
          height: 43px;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
