@import url("https://fonts.cdnfonts.com/css/circular-std");
body {
  background-image: url(/Assets/Images/Rectangle\ 4303.jpg);
  background-repeat: no-repeat;
  font-family: "Circular Std", sans-serif;
}

header {
  margin-bottom: 10px;
}
header .navbar {
  width: 1312px;
  height: 60px;
  background-color: transparent;
  margin-top: 18px;
  margin-left: 64px;
}
header .navbar .logo {
  width: 500;
  color: #ffffff;
  size: 32px;
}

.navbar {
  width: 1312px;
  height: 60px;
  background-color: violet;
  margin-top: 18px;
  margin-left: 64px;
}
.navbar .logo {
  width: 500;
  color: #ffffff;
  size: 32px;
}

.upscale {
  width: 100%;
}
.upscale .title-container {
  height: 253px;
  width: 968px;
  background-color: transparent;
  margin-top: 112px;
  margin-left: 144px;
}
.upscale .title-container .upscale-title {
  font-size: 110px;
  line-height: 126.5px;
  color: #ffffff;
}
.upscale .text-container {
  width: 624px;
  height: 60px;
  margin-top: 30px;
  margin-left: 152px;
}
.upscale .text-container .upscale-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}
.upscale .mayate-btn {
  background-color: #536758;
  width: 196px;
  height: 54px;
  margin-left: 152px;
  margin-top: 62px;
  color: #ffffff;
  border: none;
  margin-bottom: 250px;
}

.walls {
  width: 100%;
}
.walls .walls-container {
  width: 100%;
  height: 480px;
}
.walls .walls-container .walls-target {
  width: 480px;
  height: 480px;
}
.walls .walls-container .walls-target .walls-top {
  width: 67px;
  height: 20px;
  margin-left: 64px;
  margin-top: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.24px;
  color: #536758;
  letter-spacing: 1.5px;
}
.walls .walls-container .walls-target .walls-title {
  width: 328px;
  height: 52px;
  margin-left: 64px;
  margin-top: 50px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.walls .walls-container .walls-target .walls-buttom {
  width: 328px;
  height: 120px;
  margin-left: 64px;
  color: #939393;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.walls .walls-container .walls-target-center {
  width: 480px;
  height: 480px;
  background-color: #536758;
}
.walls .walls-container .walls-target-center .walls-top {
  width: 67px;
  height: 20px;
  margin-left: 64px;
  margin-top: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.24px;
  color: #ffffff;
  letter-spacing: 1.5px;
}
.walls .walls-container .walls-target-center .walls-title {
  width: 328px;
  height: 52px;
  margin-left: 64px;
  margin-top: 50px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.walls .walls-container .walls-target-center .walls-buttom {
  width: 328px;
  height: 120px;
  margin-left: 64px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.walls .walls-container .walls-target-center .next {
  margin-left: 64px;
  margin-top: 40px;
}
.walls .walls-container .walls-target-center .next img {
  width: 50px;
  height: 50px;
}

.gallery {
  width: 100%;
  background-color: #f9f9f9;
}
.gallery .gallery-card {
  width: 640px;
  height: 652px;
  margin-right: 34px;
  margin-top: 100px;
  margin-left: 64px;
}
.gallery .gallery-card .gallery-title {
  margin-top: 40px;
  margin-left: 40px;
  color: #536758;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.gallery .gallery-card .gallery-text {
  width: 560px;
  height: 72px;
  margin-left: 40px;
  color: #939393;
  font-size: 15px;
}
.gallery .gallery-card-rigth {
  width: 640px;
  height: 652px;
  margin-top: 100px;
}
.gallery .gallery-card-rigth .gallery-title {
  margin-top: 40px;
  margin-left: 40px;
  color: #536758;
  font-size: 20px;
  letter-spacing: 1.5px;
}
.gallery .gallery-card-rigth .gallery-text {
  width: 560px;
  height: 72px;
  margin-left: 40px;
  color: #939393;
  font-size: 15px;
}
.gallery .gallery-card-rigth .next {
  margin-left: 40px;
  margin-top: 40px;
}
.gallery .gallery-card-rigth .next img {
  width: 50px;
  height: 50px;
}

.dealer {
  width: 100%;
  background-color: #2a2a2a;
}
.dealer .btn-container .btn-one {
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}
.dealer .dealer-container {
  width: 1440px;
  height: 310px;
}
.dealer .dealer-container .dealer-text-container {
  width: 824px;
  height: 100px;
  color: #ffffff;
  margin-right: 74px;
}
.dealer .dealer-container .dealer-text-container .dealer-title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.dealer .dealer-container .dealer-text-container .dealer-text {
  font-size: 18px;
  line-height: 30px;
  opacity: 60%;
}

.trending {
  width: 100%;
  background-color: #536758;
}
.trending .trending-top-container {
  height: 214px;
  background-color: #536758;
}
.trending .trending-top {
  margin-top: 100px;
  width: 1312px;
  height: 50px;
}
.trending .trending-top .trending-title {
  width: 283px;
  height: 30px;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 1.5px;
}
.trending .trending-top .btn-container .btn-one {
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
}
.trending .trending-buttom-container {
  height: 507px;
}
.trending .trending-buttom-container .trending-container {
  width: 1312px;
  height: 407px;
}
.trending .trending-buttom-container .trending-container .card-one {
  width: 304px;
  height: 407px;
  background-color: antiquewhite;
}
.trending .trending-buttom-container .trending-container .card-one .card-top .sale {
  width: 65px;
  height: 42px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #ffffff;
  margin-left: 239px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container {
  width: 304px;
  height: 87px;
  background-color: #ffffff;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-top {
  width: 304px;
  height: 44px;
  background-color: #ffffff;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-top .top {
  width: 66px;
  height: 18px;
  margin-left: 119px;
  margin-top: 18px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-top .top .title {
  height: 18px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #536758;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom {
  width: 304px;
  height: 43px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom .icons-price {
  width: 185px;
  height: 43px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom .icons-price .label {
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom .heart {
  width: 60px;
  height: 43px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom .heart img {
  width: 24px;
  height: 24px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom .car {
  width: 60px;
  height: 43px;
}
.trending .trending-buttom-container .trending-container .card-one .icons-container .icons-buttom .car img {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */